GS

*, *:before, *:after {
  box-sizing: border-box;
}



/*GENERAL*/
html, body {
  height: 100%;
}



body {
 margin: 0;
}

@font-face {
  font-family: Font-Titles;
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf")
}

@font-face {
  font-family: Font-Subtitles;
  src: url("./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf")
}

:root {
  --color-principal: #F4F4F4;
  --color-secundario: #333333;
  --color-enfasis: #007BFF;
  --color-texto: #333333;
  --color-fondo-seccion: #FFFFFF;
  --color-texto-secundario: #666666;
  --font-titles: 'Font-Titles', sans-serif;
  --font-subtitles: 'Font-Subtitles', sans-serif;
}






