/*box-sizing*/
*, *:before, *:after {
  box-sizing: border-box;
  }
  
  /* Generales */
  html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-titles);
  line-height: 1.6;
  color: var(--color-texto);
  background-color: #f4f4f4;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  }
  
  /* Fuentes */
  @font-face {
  font-family: Font-Titles;
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  }
  @font-face {
  font-family: Font-Subtitles;
  src: url("./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf");
  }
  
  /*Root Variables*/
  :root {
  --color-principal: #3c3c3c;
  --color-secundario: #28a745; /*Boton accion*/
  --color-texto: #515151;
  --color-fondo-seccion: #A666666;
  --color-enfasis: #8c8c8c;
  --font-titles: 'Font-Titles', sans-serif;
  --font-subtitles: 'Font-Subtitles', sans-serif;
  }
  
  /* Menu Page */
  .menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: var(--color-enfasis);
  }
  .menu-page a {
  margin: 0 15px;
  text-decoration: none;
  color: white; 
  font-weight: 600;
  }
  .menu-page a:hover {
  text-decoration: underline;
  }
  
  /* Container Box */
  .container-box {
  padding: 20px;
  background-color: var(--color-enfasis);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Box Grid */
  .box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  }
  
  /* Parrafo Contacto */
  .box-center {
  text-align: center;
  margin: 80px;
  padding: 100px;
  background-color: white;
  border-radius: 8px;
  }

   /* Photo */
   .photo {
    text-align: center;
    margin-bottom: 30px;
    }
    .photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 20%;
    }
    
    /* Index */
    .index-page {
    display: flex;
    flex-direction: column;
    }
  
  /* Labels */
  label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
  color: var(--color-texto);
  font-family: var(--font-subtitles);
  }
  
  /* Inputs */
  input[type="text"],
  input[type="email"],
  input[type="message"],
  input[type="date"],
  input[type="time"],
  input[type="tel"],
  input[type="file"],
  input[type="checkbox"] {
  padding: 10px;
  border: 1px solid var(--color-texto);
  border-radius: 5px;
  font-size: 1rem;
  }
  
  /* Submit-Button */
  input[type="submit"] {
  background-color: var(--color-secundario);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  }
  input[type="submit"]:hover {
  background-color: var(--color-principal);
  }
  
 
  
  /* Section-Aside */
  section, aside {
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--color-fondo-seccion);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Headings */
  h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #2E2E2E;
  }
  h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #2E2E2E;
  }
  
  /* Footer */
  .footer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--color-enfasis);
  }
  .footer-page a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px 20px;
  
  }
  .footer-page a:hover {
  color: #FFD700;
  }
  
  /* Media Queries */
  @media (max-width: 576px) {
  .menu-page {
  height: auto;
  }
  .photo img {
  max-width: 100%;
  }
  h1 {
  font-size: 2rem;
  }
  h2 {
  font-size: 1.5rem;
  }
  
  }
  @media (min-width: 577px) and (max-width: 768px) {
  .menu-page {
  height: 70px;
  }
  h1 {
  font-size: 2.3rem;
  }
  h2 {
  font-size: 1.6rem;
  }
  }
  @media (min-width: 769px) and (max-width: 992px) {
  .menu-page {
  height: 80px;
  }
  h1 {
  font-size: 2.5rem;
  }
  h2 {
  font-size: 1.8rem;
  }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
  .menu-page {
  height: 60px;
  }
  h1 {
  font-size: 2.5rem;
  }
  h2 {
  font-size: 1.8rem;
  }
  }
