/* Paleta de Colores */

/* royal-blue-traditional: hsla(217, 100%, 21%, 1); */
/* --marian-blue: hsla(212, 100%, 27%, 1); */
/* --polynesian-blue: hsla(209, 100%, 31%, 1); */
/* --mikado-yellow: hsla(47, 100%, 50%, 1); */
/* --gold: hsla(50, 100%, 50%, 1); */

*{
    box-sizing: border-box;
}

body{
    
    background-color: rgb(133, 133, 133);
    color:rgb(18, 18, 196);

h1{
    background-color: aquamarine;
    color:red;
    padding: 20px;
    
}

}

h2, h3 {
    color:yellowgreen;
}

th, td{
    padding: 20px 10px;
}

.foto{
    border-radius: 60%;
    padding: 100px;

}