/*GENERAL*/
@font-face {
  font-family: Font-Titles;
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf")
}

@font-face {
  font-family: Font-Subtitles;
  src: url("./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf")
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #071018;
  --secundary-color: #1c2b38;
  --white-color: #7991a8;
  --black-color: #000000;
  --color-xsmall: #813407;
  --color-small: #910b14;
  --color-medium: #0b5a23bd;
  --color-large: #948328;
  --color-xlarge: #12550463;
  --color-xxlarge: #27832b77;





  --font-title: 'Font-Titles', serif;
  --font-subtitle: 'Font-Subtitles', sans-serif;
}

.color-titles {
  color: var(--primary-color)
}

.color-paragraph {
  color: var(--white-color)
}

.color-subtitles {
  color: var(--secundary-color)
}

.h2 {
  font-family: var(--font-title);
  font-size: 2em;
  text-align: center;
  color: var(--primary-color);
}


.index-page {
  display: flex;
  flex-wrap: wrap;

}


/* Familia-Objetivos */
.section-page {
  flex: 30%;
  height: 500px;
  background-color: var(--white-color);
  font-family: var(--font-subtitle);
  font-size: 1em;
}

/*Nav*/
.menu-page {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 20px;
}

.menu-page a {

  text-decoration: none;
  color: var(--white-color);
  font-family: var(--font-subtitle);
  font-size: 1.5em;
  padding: 10px;
}

.menu-page a:hover {
  background-color: var(--secundary-color);
  color: var(--white-color);
  transition: 0.5s;
}



.photo {
  display: flex;
  justify-content: center;
  color: var(--white-color);





}

.footer-page {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: var(--font-subtitle);
  font-size: 1em;
  color: var(--white-color);
  padding: 20px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--white-color);
}

/* Historia */
aside {
  flex: 70%;
  height: 500px;
  background-color: var(--secundary-color);
  font-family: var(--font-subtitle);
  font-size: 1em;
}

h1 {
  height: 100%;
  font-family: var(--font-title);
  background-color: var(--white-color);
  font-family: var(--font-title);
  font-size: 3em;
  text-align: center;
  color: var(--primary-color);
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;

}

h2,
p {
  font-family: var(--font-title);
  font-size: 1em;
  text-align: center;
  color: var(--primary-color);
}


.section-table {
  display: grid;
  grid-template-rows:1fr, 1fr 1fr;
  gap: 10px;
  background-color: var(--white-color);
  font-family: var(--font-subtitle);
  font-size: 1em;
  padding: 2%;

}

/* Viewport */
@media screen and (min-width: 576px){
  .menu-page{ background-color: var(--color-xsmall);}
.footer-page{background-color: var(--color-small);}
}
@media screen and (min-width: 768px){

.menu-page{ background-color: var(--color-small);}
.footer-page{background-color: var(--color-medium);}
}
@media screen and (min-width: 992px){
  .menu-page{ background-color: var(--color-medium);}
  .footer-page{background-color: var(--color-large);}
}
@media screen and (min-width: 1200px){
  .menu-page{ background-color:var(--color-large);}
  .footer-page{background-color:var(--color-xlarge);}
}

@media screen and (min-width: 1400px){
  .menu-page{ background-color: var(--color-xlarge)}
  .footer-page{background-color:var(--color-xxlarge)}
}
