
*{
    box-sizing: border-box;
}

body{
    background-color: #e6e6e6;
    color:#212121;
    font-family: 'fonts', Courier, monospace;
    margin: 100px;
    padding: 20;
}

p{
    background-color:whitesmoke;
    color: black;
    
}

h1{
    background-color: rgb(35, 41, 39);
    color:red;
    padding: 20px;
    
}

h2, h3{
    background-color: rgb(35, 41, 39);
    color: #cbfe00;;
    padding: 10px;
}


th, td{
    background-color: rgb(35, 41, 39);
    color: #cbfe00;
    padding: 10px;
}

.foto{  
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 40px;

}
